{% extends "global/Page.html" %}
{% block content %}
    <h1>Welcome to our experiment</h1>
    <p>Please read the following instructions carefully and do not hesitate to contact
    the experimenter if you have any questions.</p>
    <p>You will receive a 5€ show-up fee for coming to this experiment. You can earn
    additional money during the experiment, depending on your decisions.</p>
    <p>A round of the main experiment will be randomly chosen and your total earnings
    will be paid out at the end of the experiment.</p>
{% next_button %}

{% endblock %}