{% extends "global/Page.html" %}
{% load otree static %}
{% block styles %}
<style>
    .list-unstyled {
        padding-left: 0;
        list-style-type: none;
    }

    .list-unstyled li::before {
        content: "• ";
        color: #007bff; /* Color primario de Bootstrap */
        font-weight: bold; /* Hacer los puntos de viñeta en negrita */
    }
    .modal-lg {
        max-width: 80%; /* Ajustar el ancho del modal según sea necesario */
    }
</style>
{% endblock %}

{% block scripts %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 40px;">
    <h2 class="mb-4" style="color: #007bff;">Por favor, toma una decisión.</h2>
    <form method="post" class="mb-4">
        {{ form.decision_a }}
        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>

 <!-- Botón para activar el modal --><br> <br>
    <button type="button" class="btn btn-info mb-3" data-toggle="modal" data-target="#instructionsModal">
      Ver Instrucciones
    </button>

<!-- Modal -->
<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="instructionsModalLabel">Instrucciones Parte 2</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>Cada participante en el rol B (en adelante, “participante B”) está vinculado a 4 participantes en el rol A (en adelante, “participantes A”).</p>

        <img src="{% static 'Test_Luck_Merit/Images/Matching_ZoomOut.png' %}" alt="Vista general del emparejamiento" class="img-fluid instruction-image mb-3">

             <strong>Situación inicial:</strong>
        <p>Hay tres cajas: la caja <span class="color-word blue">azul</span>, la caja <span class="color-word green">verde</span>, y la caja <span class="color-word red">roja</span>. Una de estas tres cajas contiene dinero: €<span class="number-highlight">12</span> para el participante A y €<span class="number-highlight">10</span> para el participante B. Las otras dos están vacías.</p>
        <p>Con una <span class="number-highlight">probabilidad del 25%</span> la caja que contiene el dinero está bloqueada y no se puede abrir. Esto significa que con una <span class="number-highlight">probabilidad del 25%</span> la caja que contiene el dinero dejará a ambos participantes con €<span class="number-highlight">0</span>. <br> <br> Si no se elige ninguna caja (los participantes “se abstienen”), el participante B gana €<span class="number-highlight">6</span> y cada participante A gana €<span class="number-highlight">4</span>. <br> <br> Al principio, ningún participante sabe cuál de las tres cajas contiene el dinero. Saben que cada caja tiene la misma probabilidad de contener el dinero.</p>

        <img src="{% static 'Test_Luck_Merit/Images/boxes3.png' %}" alt="Cajas" class="img-fluid instruction-image mb-3">

        <p>Luego, los participantes A que se clasificaron en el top 50% en el test descubren cuál caja contiene el dinero. Aquellos que no se clasificaron en el top 50% no lo descubren. En caso de empates, se romperán basados en el tiempo de finalización del test.</p>
        <p>Los participantes B nunca descubren cuál caja contiene el dinero, y nunca se enteran de cuáles participantes A se clasificaron en el top 50% en el test.</p>

        <strong>Habrá tres pasos:</strong>
        <p><strong>Paso 1:</strong> Cada participante B debe decidir si desea abstenerse o dejar que los participantes A a los que está vinculado (en adelante, “sus participantes A”) tomen una decisión. <br> <br>Si deciden dejarlos tomar una decisión, uno de ellos será seleccionado al azar y su decisión determinará el pago para el participante B.</p>
        <p><strong>Paso 2:</strong> Cada participante A se entera si se clasificó en el top 50% en el test o no. Si se clasificaron en el top 50%, inmediatamente descubren cuál caja contiene el dinero. <br> <br>Si no se clasificaron en el top 50%, no lo descubren. Los participantes B nunca descubren cuál caja contiene el dinero, y nunca se enteran de cuáles participantes A se clasificaron en el top 50% en el test.</p>
            <p><strong>Paso 3:</strong> Sin saber la elección hecha por su participante B en el Paso 1, cada participante A debe decidir si desea abstenerse o elegir una caja. <br> <br>Su participante B observará esta decisión y el pago resultante.</p>

    <p>Opciones posibles:</p>
    <ul class="list-unstyled">
        <li>A elige una caja y B recibe €<span class="number-highlight">10</span></li>
        <li>A elige una caja y B recibe €<span class="number-highlight">0</span></li>
        <li>A se abstiene y B recibe €<span class="number-highlight">6</span></li>
    </ul>
    <p><span class="number-highlight"> Nota:</span> La decisión tomada por cada participante A se implementará solo si su participante B ha decidido dejarlos tomar una elección en el Paso 1. <br> <br>Si su participante B ha decidido abstenerse, la decisión tomada por los participantes A no tendrá consecuencias.</p>
   <p><span class="number-highlight"> Nota:</span> Todas las interacciones entre el participante B y los cuatro participantes A serán anónimas.</p>
</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}